:root {
  --model_header_footer_background: #258c60;
  --color_white: white;
  --background_white: white;
  --header_background_color: rgb(237, 237, 237);
  --all-border-color: rgb(231, 223, 223);
}

/*To change the color of all borders, uncomment it and you can change the color.*/

/* *, *::before, ::after {
  border-color: var(--all-border-color) !important;
} */

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  background-color: var(--background_white);
  background-size: cover;
  background-position: center;
  color: black;
  background-attachment: fixed;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.281);
}

::-webkit-scrollbar-thumb:hover {
  background: #555555;
}

.btn:hover {
  background-color: red;
}

.scroll::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
}

.bellIconBox {
  position: relative;
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  background-color: rgb(231, 231, 231);
  border-radius: 50%;
  margin-right: 10px;

}

.bellIconBox .IconInner {
  position: absolute !important;
  top: -10px;
  border-radius: 50%;
  right: 5px;
  font-weight: bold;
  color: red;

}

.chakra-modal__header {
  padding: 0% !important;
}

.chakra-menu__menu-list {
  padding: 0% !important;
}

.innerDiv {
  display: flex;
  justify-content: space-between !important;
}

.divInput {
  width: 100%;
  margin-right: 0% !important;
}

em-emoji-picker {
  position: absolute !important;
  top: -450px !important;
  left: 0 !important;

}

.chakra-input__group css-bx0blc {
  height: 0 !important;
}

.fontS {
  font-family: 'Roboto', sans-serif;
  /* font-family: 'Zilla Slab', serif; */
}

.sizeF {
  font-size: 15px !important;
}

.App {
  display: flex !important;
  justify-content: center !important;
}

.button {
  cursor: pointer;
}

.swal-button:hover {
  background-color: yellowgreen !important;
}

.css-h2iqbi:hover {
  background-color: #ededed !important;
}

.d-flex {
  display: flex;
}