.scrollablechat_span {
    border-radius: 20px;
    padding: 5px 20px;
    max-width: 75%;
    font-size: 15px;
    font-weight: bold;
}

.scrollablechat_div {
    display: flex;
    gap: 5px;
    align-items: flex-end;
}

.sc_div {
    font-size: 10px;
}
.sc_div_main{
    display: flex;
}